<section id="react-app">{{{ markup }}}</section>
<!--We use a script tag to hold a JSON string of our server’s state. 
When initializing our React components on the client side, we pull our state from here and then remove it. -->
<script id="initial-state" type="application/json">{{{state}}}</script>
