<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>React Tweets</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  
  {{{ body }}}
  
  <footer>
    <a class="link-back" title="Learning React: Building A Real-Time Node and React Application" href="http://scotch.io/tutorials/javascript/learning-react-building-a-real-time-node-and-react-application">&larr; Learning React: Building A Real-Time Node and React Application</a>
    <span class="update-message">to see the timeline update!</span>

  </footer>
  
  <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
  <script src="js/bundle.js"></script>

</body>
</html>